body {
  margin: 0;
}

.App {
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DarkModeButton {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  width: 95px;
  height: 50px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.DarkModeButton span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 50px;
  border-radius: 25px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.DarkModeButton span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}
