.App {
  text-align: center;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.ComeHomeLogo {
  font-size: 30px;
  font-weight: 800;
}

.ActionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DarkModeToggle {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  width: 60px;
  height: 30px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.DarkModeToggle span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.DarkModeToggle span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.SignUpButton {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 0 10px;
  margin-left: 20px;
  font-weight: 900;
  font-size: 15px;
  background: linear-gradient(
    80deg,
    rgb(88, 64, 234) 0%,
    rgb(58, 97, 222) 100%
  );
  cursor: pointer;
}

.AvmBanner {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PropertyImage {
  border-radius: 14px;
  width: 140px;
  height: 140px;
}

.PropertyDetails {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.PropertyAddress {
  font-weight: 500;
  font-size: 15x;
}

.PropertyInfo {
  margin-top: 5px;
  font-weight: 400;
  font-size: 15px;
}

.Price {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 900;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.Card {
  width: 375px;
  height: 380px;
  border-radius: 14px;
  box-shadow: 0 0.9375rem 0.875rem -0.1875rem rgb(0 0 0 / 17%);
  margin: 20px 20px;
  background-color: white;
  box-sizing: border-box;
}

.Banner {
  height: 100px;
  width: 100%;
  background-color: #ced4e2;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      360deg,
      rgb(0, 0, 0) -150%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    url('https://www.assets.qa.ch.housecanary.net/builds/1113/95791bd12f9119e6b9d714afe24469e3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.BannerText {
  font-size: 15px;
  color: white;
  margin-left: 30px;
  font-weight: 800;
}

.BodyText {
  font-size: 18px;
  text-align: left;
  padding: 40px;
}

.CTAButton {
  cursor: pointer;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 900;
  background-color: #564ef0;
  color: white;
  margin-top: 20px;
}
